global:
  scrape_interval: 60s

scrape_configs:
  - job_name: 'adcash-webapp'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['a20060d09589b496291d9feca5ad5e74-3dc4e3db68b18dc1.elb.eu-west-1.amazonaws.com:80']